.primary {
  width: 320px;
  height: 42px;
  margin-top: 15px;
  background-color: #fb4226;
  font-size: 18px;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  font-weight: 500;
}

.small {
  width: 230px;
  height: 45px;
  margin-top: 10px;
  background-color: #fb4226;
  font-size: 18px;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  font-weight: 500;
}