.primary {
  width: 320px;
  height: 42px;
  margin-top: 15px;
  background-color: #fb4226;
  font-size: 18px;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  font-weight: 500;
}
.small {
  width: 230px;
  height: 50px;
  margin-top: 10px;
  background-color: #fb4226;
  font-size: 18px;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  font-weight: 500;
}

.btnLogin {
  width: 139px;
  height: 43px;
  background-color: #54ab35;
  font-size: 1.6rem;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  font-weight: 600;
  
}

.btnShowingFilm {
  width: 285px;
  height: 67px;
  font-size: 3rem;
  padding: 7px 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  border: 3px solid #fff;
  border-radius: 35px;
  background: rgba(255, 255, 255, 0);
  cursor: pointer;
  font-size: 30px;
}

.btnShowingFilm:hover {
  color: #ffffff;
  background-color: #ff5400;
  border: 3px solid #ff5400;
  font-weight: bold;
}

.btnSearchFilm {
  width: 200px;
  height: 60px;
  border-radius: 35px;
  background-color: #54AB35;
  pointer-events: none;
}
